{
  "extends": "pebble",
  "parser": "babel-eslint",
  "env" : {
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
  },
  "plugins": [
    "react"
  ],
  "rules" : {
  }
}
