@import "../settings";
@import "../mixins/sharp-shadow";

.app-tile {

  @include sharp-shadow();
  position: relative;
  background: $body-background-color;
  padding: rms(-2);

  &.selected {
    $color: #ff4700;

    background: $color;
    color: #ffffff;

    &:before {
      content: "♥";
      font-size: rms(4);
      line-height: rms(4);
      color: $color;
      position: absolute;
      bottom: rms(-1);
      left: rms(-1);
      z-index: 100;
      text-shadow: #000 1px 1px 2px;
    }
  }

  &:hover {

  }

  .image {
    position: relative;
    font-size: 0;

    > img {
      width: 100%;
    }
  }



  > h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: rms(0);
    line-height: rms(0);
    padding-bottom: rms(-4);
  }

  > img {
    max-width: 100%;
  }
}
