@import "../vendor/bourbon/bourbon";
@import "../settings";

.main {
  margin: 0 auto;
  max-width: rms(17);

  > header {
    padding: rms(2);

    > h1 {
      font-size: rms(4);
      line-height: rms(4);
      text-align: center;
    }
  }


  .apps-list {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);

    > li {
      @include flex(1 0 0%);
      min-width: rms(9);
      max-width: rms(9);
      padding-right: rms(-2);
      padding-bottom: rms(0);

    }

  }
}
